* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: whitesmoke;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.35);
    margin-bottom: 10px;
    border-radius: 5px;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo i {
    font-size: 40px;
    color: rgb(0, 132, 255);
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
}

.search i {
    font-size: 20px;
    color: black;
}

.logo input[type="text"] {
    width: 250px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.msg:hover * {
    color: rgb(0, 132, 255);
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

nav ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav ul li:hover * {
    color: rgb(0, 132, 255);
}

nav ul li i,
.msg i {
    font-size: 24px;
    color: rgb(24, 49, 83);
}

nav ul li a,
.msg a {
    text-decoration: none;
    color: gray;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 70vw;
    margin: auto;
}

.left_top1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    background-image: linear-gradient(rgb(12, 22, 45) 50%, white 50%);

}

.left_top1 img {
    border-radius: 50%;
}

.left_top2>h5>span {
    color: rgb(0, 132, 255);
}

.left_top2 {
    border-bottom: 1px solid gray;
}

.left_top2 h5 {
    display: flex;
    justify-content: space-between;
}

.left_top3 {
    text-align: center;
    border-bottom: 1px solid gray;
}

.left_top3 p {
    color: gray;
    font-weight: bold;
}

.left_top3 a,
.left_top4 {
    color: black;
    font-weight: bold;
}

.left_top4 {
    margin: 10px;
}

.fa-bookmark {
    color: gray;
}

.left_down h3 {
    color: rgb(0, 132, 255);
}

.left_down h2 {
    text-align: center;
    border-top: 1px solid gray;
}

.left_down1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-plus {
    color: gray;
    font-weight: bold;
}

.middle>a {
    font-size: 15px;
    align-self: flex-end;
}

.middle_top1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.middle_top1 input[type="text"] {
    width: 250px;
    height: 30px;
    border-radius: 20px;
}

.middle_top2 {
    display: flex;
    justify-content: space-evenly;
}

.fa-image {
    color: rgb(0, 132, 255);
}

.fa-youtube {
    color: green;
}

.fa-calendar-days {
    color: orange;
}

.fa-newspaper {
    color: red;
}

.middle_top img {
    border-radius: 50%;
}

.middle_top img {
    border-radius: 50%;
}

.scroll {
    height: 80vh;
    overflow-y: auto;
}

.scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
    display: none;
}

.middle_story1 {
    display: flex;
    flex-direction: column;
}

.middle_story1_sub {
    display: flex;
    align-items: center;
}

.middle_story>img {
    width: 50%;
    max-height: 50%;
}

.middle_story1_sub>img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.middle_story1 a {
    margin-left: auto;
}

.middle_story2 {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid gray;
    margin: 20px 0px;
}

.middle_story2>* {
    margin-top: 10px;
}

.middle_story2>*:hover {
    color: rgb(0, 132, 255);
}

.middle>button {
    border-radius: 30px;
    color: rgb(0, 132, 255);
    background-color: white;
    padding: 10px 0px;
    font-weight: bold;
    border: 1px solid rgb(0, 132, 255);
}

.middle>button:hover {
    background-color: rgb(0, 132, 255);
    color: white;
}

.right_top ul li {
    margin-bottom: 20px;
    font-weight: bold;
}

.right_top ul li p {
    font-size: 10px;
    color: gray;
}

.right_top>h4 {
    font-size: 15px;
    color: gray;
}

.right_down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right_down>a {
    align-self: flex-end;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 132, 255);
}

.right_down .right_down1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right_down1 img:first-child {
    margin-right: 50px;
    border-radius: 50%;
}

.right_down1 img:last-child {
    width: 60px;
}

.right_down>button {
    width: 150px;
    font-size: large;
    border: 1px solid rgb(0, 132, 255);
    padding: 10px;
    border-radius: 30px;
    color: rgb(0, 132, 255);
    background-color: white;
}

.right_down>button:hover {
    background-color: rgb(0, 132, 255);
    color: white;
}

.left>* {
    border-radius: 10px;
}

.middle>* {
    border-radius: 10px;
}

.right>* {
    border-radius: 10px;
}

.left,
.middle,
.right {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
}

.left_top,
.middle_top,
.right_top {
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.35);
}

.left_down,
.middle_story,
.right_down {
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.35);
}

footer {
    border-radius: 5px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.35);
    margin-top: 10px;
}

.foot_up ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    font-weight: bold;
}

.foot_down {
    text-align: center;
}

.base {
    border-radius: 10px;
    border: 1px solid gray;
    display: none;
}

.base ul {
    list-style: none;
    display: flex;
    gap: 5px;
    justify-content: center;
    padding-left: 0;
}

.base ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
    white-space: nowrap;
    text-align: center;
}

.base ul li:hover * {
    color: rgb(0, 132, 255);
}

.base ul li i {
    font-size: 20px;
    color: gray;
}

.base ul li a {
    text-decoration: none;
    color: gray;
    font-size: 12px;
}

@media screen and (max-width: 1024px) {

    .left,
    .middle,
    .right {
        flex-grow: 1;
    }

    main {
        width: auto;
        margin: none;
    }
}

@media screen and (max-width: 850px) {
    .base {
        display: block;
    }

    header nav {
        display: none;
    }

    .msg {
        display: flex;
    }
}